.volumebar__container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .volumebar {
    width: 100px;
    height: 4px;
    -webkit-appearance: none;
    background: #535353;
    border-radius: 2px;
  }
  
  .volumebar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
  }